.newsletter {
  background-image: url('https://next.tnwcdn.com/assets/next/img/spacesbg.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-attachment: fixed;
  background-position: 50%;
  color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.newsletter__content {
  width: max-content;
}

.newsletter__heading {
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.newsletter p {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}

.newsletter__link {
  color: rgb(0, 204, 204, 0.9);
}

.newsletter__link:hover {
  color: #fff;
}

.newsletter__link:focus {
  outline: 2px dashed #fff;
}

.newsletter__submission {
  width: 100%;
  display: flex;
  border-radius: 0.25rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25), 0 0 4px #00000030;
  overflow: hidden;
}

.newsletter__submission span,
.newsletter__submission input,
.newsletter__submission button {
  padding: 0.75rem;
}

.newsletter__submission input:focus,
.newsletter__submission button:focus {
  outline-offset: -5px;
  outline: 2px dashed #000;
}

.newsletter__submission span {
  padding-left: 0.75rem;
  padding-right: 0;
  background: #fff;
  color: #d2d4d8;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.newsletter__submission input {
  width: 100%;
  font-size: 1rem;
}

.newsletter__submission button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #cc0099;
  color: #fff;
  font-weight: 600;
}

.newsletter__submission button:hover {
  background: #4cacff;
}
