.main {
  transition: 0.25s;
}

.main__headlines {
  background: linear-gradient(to bottom, #ededed, #fff);
}

.main__header {
  max-width: 80rem;
  margin: 0 40px;
  padding: 32px;
  display: flex;
  align-items: center;
}

.main__header a {
  min-width: 250px;
  max-width: 20%;
  padding: 2rem 0;
  margin-right: auto;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  color: #505666;
  font-family: 'Roboto', sans-serif;
}

.section-heading {
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.contact {
  display: flex;
  gap: 1rem;
}

.contact__item {
  width: 24px;
  height: 100%;
  aspect-ratio: 1;
}

.contact__icon {
  fill: #82808e;
  transition: 0.15s;

  outline-color: #fff;
  display: flex;
  align-items: center;
}

.contact__icon:hover {
  fill: #ffffff;
}

.contact__item a:focus {
  outline-color: #fff;
  outline-offset: 2px;
}

.nav__menuItem .hidden {
  display: none;
}
