.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  position: relative;
  background: #f7f8f8;
}

.logo {
  position: absolute;
  left: 1.5rem;
  width: 66px;
  height: 100%;
  display: flex;
  transition: fill 0.5s ease;
}

.logo:hover {
  fill: #c09;
}

.nav__menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav__menuItem {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.02rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #505666;
}

.nav__menuItem:hover {
  background: #fff;
  color: #000;
}

.nav__menuItem a:first-child {
  display: block;
  padding: 1rem 0.75rem 0.75rem;
  outline-offset: -5px;
}

.menuCurrent {
  background: #fff;
  font-weight: 600;
  color: #000;
}

.nav__newsletter {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav__newsletter button {
  border: 0;
  background: none;
  color: #cdd0d4;
  cursor: pointer;
}

.nav__newsletter button:hover {
  color: #000;
}

.nav__yellow-bar {
  background: #fd3;
  padding: 13px;
  display: block;
  outline-offset: -5px;
}

.nav__yellow-bar p {
  padding: 0 1rem;
  font-size: 0.82rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.main__headlines {
  background: linear-gradient(to bottom, #ededed, #fff);
}

.main__header {
  max-width: 80rem;
  margin: 0 40px;
  padding: 32px;
  display: flex;
  align-items: center;
}

.main__header a {
  max-width: 20%;
  padding: 2rem 0;
  margin-right: auto;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  color: #505666;
  font-family: 'Roboto', sans-serif;
}

.showcase {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 120px);
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  grid-column: 1 / span 8;
  grid-row: 1 / span 8;
}

.showcase__article {
  position: relative;
  display: grid;
  overflow: hidden;
  box-shadow: inset 0 0 2px red;
}

.showcase__articleHeader {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 1.5rem;
  text-shadow: 0 2px 2px #000;
  font-family: 'Manrope', sans-serif;
}

.showcase__articleHeaderLabel {
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  font-size: 0.95rem;
}

.showcase__articleHeader--special {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 8px #000;
}

.showcase__articleHeader--special button {
  color: #fff;
  margin-top: 1rem;
  padding: 13px 1.4rem;
  font-family: 'Manrope', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  cursor: pointer;
  outline-offset: -5px;
}

.showcase__articleHeader button:focus {
  outline: 2px dashed #fff;
}

.showcase__article:first-child {
  grid-column: 1/5;
  grid-row: 1 / span 3;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1;
}

.showcase__article:nth-child(2) {
  grid-column: 1/5;
  grid-row: 4 / span 2;
}

.showcase__article:nth-child(3) {
  grid-column: 5/7;
  grid-row: 1 / span 2;
}

.showcase__article:nth-child(4) {
  grid-column: 7/9;
  grid-row: 1 / span 2;
}

.showcase__article:nth-child(5) {
  grid-column: 5/9;
  grid-row: 3 / span 3;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1;
}

.showcase__articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase__article a:focus .showcase__articleHeader {
  outline-offset: -10px;
  outline: 2px dashed #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}

.section-heading {
  font-family: 'Manrope', sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.trending {
  background: #f7f8f8;
  padding: 4rem 0 6rem;
  margin-top: 5rem;
}

.trending__heading {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #545454;
  text-align: center;
  margin-bottom: 3rem;
}

.trending__articles {
  display: flex;
  padding: 0 5rem;
}

.trending__article {
  margin: 0 auto;
}

.trending__article a {
  display: flex;
}

.trending__index {
  color: #cc0099;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.5rem;
  padding-right: 1rem;
  line-height: 1;
}

.trending__title {
  max-width: 180px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

.trending__index:hover + .trending__title,
.trending__title:hover {
  text-decoration: underline rgba(204, 0, 153, 0.33) 2px;
  text-underline-offset: 2px;
}

.stories {
  padding: 4.5rem;
}

.stories__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.stories__item {
  max-width: 24%;
  text-align: left;
  outline-offset: 5px;
  font-family: 'Manrope', sans-serif;
}

.stories__itemImage {
  width: 100%;
}

.stories__itemHeading {
  margin-top: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  font-size: 0.96rem;
}

.stories__timePosted {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 0.5rem;
}

.stories__btn {
  color: rgba(0, 0, 0, 0.7);
  margin: 3rem auto;
  padding: 13px 1.4rem;
  font-family: 'Manrope', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border: 1px solid #d7d8db;
  border-radius: 2rem;
  outline-offset: -5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channels {
  background: #f7f8f8;
  padding: 2rem;
}

.channels__heading {
  font-family: 'Manrope', sans-serif;
}

.channels__container {
  display: flex;
  gap: 1rem;
}

.channels__item {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  text-align: center;
  aspect-ratio: 1;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  justify-content: space-around;
  outline-offset: 5px;
  padding: 0.5rem;
}

.channels__logo {
  padding: 0 2.5rem;
}

[data-label='plugged'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=4423a77a45ff6281a089424a8dd0bc24');
}

[data-label='neural'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=7b20700b0f58af3860449664ae1a5e68');
}

[data-label='shift'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=1d3ef28f5220f870b7e289810caa80a3');
}

[data-label='growth-quarters'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=72ccfd9e92f942be8ace3526d0dc3aab');
}

[data-label='hardfork'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=77d9941cfc302cb2e25c39ab3043fa7b');
}

.newsletter {
  background-image: url('https://next.tnwcdn.com/assets/next/img/spacesbg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
}

.contact-item {
  width: 2rem;
  aspect-ratio: 1;
}

.contact-icon {
  fill: #82808e;
}

.contact-icon:hover {
  fill: #ffffff;
}

.hidden {
  display: none;
}
