.sticky-header {
  position: sticky;
  top: 0;
}

.nav {
  position: relative;
  background: #f7f8f8;
}

.logo {
  position: absolute;
  left: 1.5rem;
  width: 66px;
  height: 100%;
  display: flex;
  transition: fill 0.5s ease;
}

.logo:hover {
  fill: #c09;
}

.nav__menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav__menuItem {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.02rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #505666;
}

.nav__menuItem:hover {
  background: #fff;
  color: #000;
}

.nav__menuItem a:first-child {
  display: block;
  padding: 1rem 0.75rem 0.75rem;
}

.menuCurrent {
  background: #fff;
  font-weight: 600;
}

.nav__newsletter {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav__newsletter button {
  border: 0;
  background: none;
  color: #cdd0d4;
  cursor: pointer;
}

.nav__newsletter button:hover {
  color: #000;
}

.nav__yellow-bar {
  background: #f3d230;
  padding: 13px;
  display: block;
}

.nav__yellow-bar p {
  padding: 0 1.5rem;
  font-size: 0.82rem;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
}

.channels__item {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

[data-label='plugged'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=4423a77a45ff6281a089424a8dd0bc24');
}

[data-label='neural'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=7b20700b0f58af3860449664ae1a5e68');
}

[data-label='shift'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=1d3ef28f5220f870b7e289810caa80a3');
}

[data-label='growth-quarters'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=72ccfd9e92f942be8ace3526d0dc3aab');
}

[data-label='hardfork'] {
  background-image: url('https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=77d9941cfc302cb2e25c39ab3043fa7b');
}

.newsletter {
  background-image: url('https://next.tnwcdn.com/assets/next/img/spacesbg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
}

.contact-item {
  width: 2rem;
  aspect-ratio: 1;
}

.contact-icon {
  fill: #82808e;
}

.contact-icon:hover {
  fill: #ffffff;
}

.hidden {
  display: none;
}
