* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 200px;
}

body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav,
header,
main {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

input,
button {
  font-family: 'Manrope', sans-serif;
  border: none;
}

button {
  background: none;
}

a,
a:active {
  color: inherit;
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 2px dashed #000;
}
